<%- include("../templates/header", {title:"Desafio21"}) %>

<h2>LISTA DE PRODUCTOS</h2>

<%- include("../templates/productTable", {responseObject:responseObject})%>

<%- include("../templates/footer") %>